<% if (info.siteList.length == 0) { %>
  <%- include ('../partials/empty') %>
<% } else { %>
  <div class="container-fluid">
    <div class="page-header min-height-300 border-radius-xl mt-4" style="background-image: url('../assets/img/FBC.png'); background-position-y: 50%;">
    </div>
    <div class="card card-body blur shadow-blur mx-4 mt-n6 overflow-hidden">
      <div class="row gx-4">
        <div class="col-auto">
        </div>
        <div class="col-auto my-auto">
          <div class="h-100">
            <h5 class="mb-1">
              <%= info.site.name %>
            </h5>
            <p class="mb-0 font-weight-bold text-sm">
              <%= info.site.city %>,  <%= info.site.state %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid py-4">
    <div class="row">
      <div class="col-12 col-xl-4 mb-4">
        <div class="card h-100">
          <div class="card-header pb-0 p-3">
            <div class="row">
              <div class="col-md-6 d-flex align-items-center">
                <h6 class="mb-0">Contact Information</h6>
              </div>
              <div class="col-md-6 text-end">
                <a href="/sites/edit/<%= info.site.id %>">
                  <i class="fas fa-user-edit text-secondary text-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit Site"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="card-body p-3">
            <ul class="list-group">
              <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Full Name:</strong> &nbsp; <%= info.site.full_name %> </li>
              <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Mobile:</strong> &nbsp; <%= info.site.contact %> </li>
              <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Email:</strong> &nbsp; <%= info.site.email %> </li>
            </ul>
          </div>
          <div class="card-header pb-0 p-3">
            <div class="d-flex align-items-center">
              <h6 class="mb-0">Site Information</h6>
            </div>
          </div>
          <div class="card-body p-3">
            <ul class="list-group">
              <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">Address:</strong> &nbsp; <%= info.site.address %>, <%= info.site.postcode %>, <%= info.site.city %>, <%= info.site.state %> </li>
              <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Latitude:</strong> &nbsp; <%= info.site.lat %> </li>
              <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Longitude:</strong> &nbsp; <%= info.site.long %> </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-12 col-xl-4 mb-4">
        <div class="card h-100">
          <div class="card-header pb-0 p-3">
            <div class="row">
              <div class="col-md-6 d-flex align-items-center">
                <h6 class="mb-0">Cleaning Robots</h6>
              </div>
              <!-- <div class="col-md-6 text-end">
                <a href="javascript:;">
                  <i class="fas fa-user-edit text-secondary text-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit Robot"></i>
                </a>
              </div> -->
            </div>
          </div>
          <div class="card-body p-3">
            <ul class="list-group">
              <% if (info.robots.length != 0) { %>
                <% info.robots.forEach(eachRobot => { %>
                  <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark"><%= eachRobot.name %>:</strong> &nbsp; <%= eachRobot.description %></li>
                <% }) %> 
              <% } else { %>
                <li class="list-group-item border-0 ps-0 text-sm">Empty</li>
              <% } %>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-12 col-xl-4 mb-4">
        <div class="card h-100">
          <div class="card-header pb-0 p-3">
            <div class="row">
              <div class="col-md-6 d-flex align-items-center">
                <h6 class="mb-0">Extra Information</h6>
              </div>
              <div class="col-md-6 text-end">
                <a id="editNotes">
                  <i class="fas fa-user-edit text-secondary text-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit Info"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="card-body p-3">
            <textarea class="form-control" id="notesTextArea" disabled style="height:100%"><% if (info.site.notes == null) { %><%='Empty'%><% } else { %>
<%= info.site.notes %>
<% } %>
            </textarea>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script defer src="/assets/js/details.js"></script>

<% } %>

